$primary: #15376d;
$brand: #15376d;
$primary-light: #f2f7f8;
$light-dark: #374151;
$text-color: #111827;
$text-color-primary: #515661;
$gray-700: #4b5563;
$text-color-light: #515661;
$light-theme-switch-bg-color: #1d386a;

// for toggle theme button
$page-color-transition:
  transparent 0.2s ease,
  color 0.2s ease;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
