$primary: #0073D0;
$brand: #0073D0;
$secondary: #535c6b;
$light-dark: #374151;
$text-color: #030c1e;
$text-color-primary: #1f2a3e;
$gray-700: #4b5563;
$text-color-light: #535c6b;
$light-theme-switch-bg-color: #00a5e6;
$primary-light: #E9EAEB;
$body-bg: #F5F5F6;  


$success: #1e8246;  
$info:    #0073d0;      
$warning:  #fa8a02; 
$danger:  #e60000; 

// for toggle theme button
$page-color-transition:
  transparent 0.2s ease,
  color 0.2s ease;

$font-family-sans-serif: "Inter", Arial, Helvetica, sans-serif !default;

$font-family-serif: serif !default;

$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace !default;

$font-family-base: $font-family-sans-serif !default;

$border-radius:               calc(0.5rem - 2px) !default;
$border-radius-lg:            0.5rem !default;
$border-radius-sm:            calc(0.5rem - 4px) !default; 

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

