@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import "./base-theme.css";

$primary: #0073d0;
$brand: #0073d0;
$secondary: #535c6b;
$light-dark: #374151;
$text-color: #030c1e;
$text-color-primary: #1f2a3e;
$gray-700: #4b5563;
$text-color-light: #535c6b;
$light-theme-switch-bg-color: #1d386a;

// $success: var(--ion-cont-color-ui-status-positive) !default;
// $info: var(--ion-cont-color-ui-status-info) !default;
// $warning: var(--ion-cont-color-ui-status-warning) !default;
// $danger: var(--ion-cont-color-ui-status-negative) !default;

// for toggle theme button
$page-color-transition:
  transparent 0.2s ease,
  color 0.2s ease;
