// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference

$primary: #ffffff !default;
$secondary: #ffffff !default;
$brand: #ffffff !default;
$success: #ffffff !default;
$info: #ffffff !default;
$danger: #ffffff !default;
$warning: #ffffff !default;
$light: #e1dddb !default;
$dark: #ffffff !default;
$accent-a: #ffffff !default;
$accent-b: #ffffff !default;
